VITE_SUPABASE_URL=https://zzltokphacxiomapkbrj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6bHRva3BoYWN4aW9tYXBrYnJqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0NDA5ODEsImV4cCI6MjA4NzAxNjk4MX0.pvzFI9Y-5KmDUf3Ry8bOP8106M9Hln7CxiMtSA3BK6o